# ==================== Environment ====================
NODE_ENV = development

# ==================== Servece App ====================
PORT=3000
HOST=localhost

# ==================== Security JWT ====================
JWT_SECRET = your_super_secret_jwt_key_change_this_in_production

# ==================== تشفير ====================
BCRYPT_ROUNDS=10

# ==================== CORS ====================
CORS_ORIGIN=http://localhost:5173
CORS_CREDENTIALS=true

# ==================== Pagination ====================
DEFAULT_PAGE=1
DEFAULT_LIMIT=20
MAX_LIMIT=100

# ==================== Data Base ====================
MONGO_URL = mongodb url


# ==================== Development ====================
DEBUG=false
REQUEST_TIMEOUT=30000
